<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">

    <!-- Libs CSS -->
    <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
    <title>Maladie List</title>
</head>

<body>
    <div id="db-wrapper">
        {% include 'sidebar.html' %}
        <div id="page-content">
            <div class="header">
                {% include 'navbar.html' %}
            </div>
            <div class="container-fluid p-4">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
                            <div class="mb-2 mb-lg-0">
                                <h1 class="mb-1 h2 font-weight-bold">Maladies</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Maladies</li>
                                    </ol>
                                </nav>
                            </div>
                            <div>
                                <a href="{% url 'maladie-create' %}" class="btn btn-primary">Add New Maladie</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-12">
                        <div class="card rounded-lg">
                            <div class="p-4 row">
                                <form method="GET" action="{% url 'maladie_list' %}"
                                    class="d-flex align-items-center col-12 col-md-12 col-lg-12">
                                    <span class="position-absolute pl-3 search-icon">
                                        <i class="fe fe-search"></i>
                                    </span>
                                    <input type="search" name="q" class="form-control pl-6"
                                        placeholder="Search Maladies" />
                                </form>
                            </div>
                            <div class="tab-content" id="tabContent">
                                <div class="tab-pane fade show active" id="maladies" role="tabpanel"
                                    aria-labelledby="maladies-tab">
                                    <div class="table-responsive border-0 overflow-y-hidden">
                                        <table class="table mb-0 text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="border-0 text-uppercase">Maladie</th>
                                                    <th scope="col" class="border-0 text-uppercase">Type</th>
                                                    <th scope="col" class="border-0 text-uppercase">Causes</th>
                                                    <th scope="col" class="border-0 text-uppercase">Symptômes</th>
                                                    <th scope="col" class="border-0 text-uppercase">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for maladie in maladies %}
                                                <tr>
                                                    <td class="border-top-0">
                                                        <div class="d-lg-flex align-items-center">
                                                            <div>
                                                                {% if maladie.image %}
                                                                <img src="{{ maladie.image.url }}" alt=""
                                                                    class="img-4by3-lg rounded" />
                                                                {% endif %}
                                                            </div>
                                                            <div class="ml-lg-3 mt-2 mt-lg-0">
                                                                <a href="#" class="text-primary-hover"
                                                                    data-toggle="modal"
                                                                    data-target="#descriptionModal{{ maladie.id }}">
                                                                    <h4 class="mb-1">{{ maladie.nom }}</h4>
                                                                </a>
                                                                <span class="text-inherit">Published on 
                                                                    {{ maladie.date_publication|date:"d F, Y" }}</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle border-top-0">
                                                        {% if maladie.types.all %}
                                                        {% for type in maladie.types.all %}
                                                        {{ type.nom }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                        {% else %}
                                                        No types available
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle border-top-0">{{ maladie.causes }}</td>
                                                    <td class="align-middle border-top-0">{{ maladie.symptomes }}</td>
                                                    <td class="align-middle border-top-0">
                                                        <a href="{% url 'treatment-create' maladie.id %}"
                                                            class="btn btn-success btn-sm">new Treatement</a>
                                                        <a href="{% url 'maladie-update' maladie.id %}"
                                                            class="btn btn-outline-info btn-sm">Update</a>
                                                        <a href="{% url 'delete_maladie' maladie.id %}"
                                                            class="btn btn-danger btn-sm">Delete</a>
                                                    </td>
                                                </tr>

                                                <!-- Modal -->
                                                <div class="modal fade" id="descriptionModal{{ maladie.id }}"
                                                    tabindex="-1"
                                                    aria-labelledby="descriptionModalLabel{{ maladie.id }}"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-lg">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title"
                                                                    id="descriptionModalLabel{{ maladie.id }}">
                                                                    Description of {{ maladie.nom }}</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>{{ maladie.description }}</p>
                                                                <h5>Treatments</h5>
                                                                {% if maladie.traitements.all %}
                                                                <ul>
                                                                    {% for treatment in maladie.traitements.all %}
                                                                    <li>{{ treatment.name }}</li>
                                                                    <pre> {{ treatment.description }}</pre>
                                                                    {% endfor %}
                                                                </ul>
                                                                {% else %}
                                                                <p>No treatments available.</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                {% empty %}
                                                <tr>
                                                    <td colspan="5">No maladies available.</td>
                                                </tr>

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item active" aria-current="page">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript dependencies -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>

</html>