<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Favicon icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/favicon/favicon.ico' %}"
    />


    <!-- Libs CSS -->
    <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/prismjs/themes/prism.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/@yaireo/tagify/dist/tagify.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/tippy.js/dist/tippy.css' %}" rel="stylesheet">


    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">

</head>

  <body>
    <div class="container mt-5">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header border-bottom px-4 py-3">
                <h4 class="mb-0">Processing requests</h4>
            </div>
            <center>
                <p> Hello <strong> wiwi </strong> ! you will send a new demande for the Expret to help you on this
                    desease <strong> {{disease.detected_disease}} </strong> </p>
                </center>
            <!-- Card body -->
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <!-- Utilisation de form.as_p pour afficher les champs -->
                    {{ form.as_p }}

                    <!-- Bouton de soumission -->
                    <button type="submit" class="btn btn-primary">Validate</button>
                </form>
            </div>
        </div>

  
      </div>
    </div>


    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
