<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer une demande de traitement</title>

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">

    <!-- Libs CSS -->
    <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
</head>
<body>


    <div class="container mt-5">
        <!-- Card -->
        <div class="card mb-3">
            <div class="card-header border-bottom px-4 py-3">
                <h4 class="mb-0">Créer un nouveau rendez-vous</h4>
            </div>

            <div class="card-body">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Afficher les champs du formulaire -->
        <button type="submit" class="btn btn-primary">Soumettre</button>
        <a href="{% url 'demande_list' %}" class="btn btn-dark">
            Retour à la liste des demandes
        </a>
    </form>
</div>
   
     <!-- Libs JS -->
     <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
     <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
     <script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>
