<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">


  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon/favicon.ico' %}">


  <!-- Libs CSS -->
  <link href="{% static 'assets/fonts/feather/feather.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/dragula/dist/dragula.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/prismjs/themes/prism.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/magnific-popup/dist/magnific-popup.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/libs/@yaireo/tagify/dist/tagify.css' %}" rel="stylesheet">
  <link href="{% static 'assets/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">
  <link href="{% static 'assets/libs/tippy.js/dist/tippy.css' %}" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">    
    <title>MethodeTraitement List</title>
</head>
<body>
    <div id="db-wrapper">
    <!-- Sidebar -->
    {% if request.user.role == 'FARMER' %}
    {% include 'sidebarfarmer.html' %}
    {% elif request.user.role == 'DOCTOR' %}
    {% include 'sidebar.html' %}
    {% endif %}

        <div id="page-content">
            <div class="header">
                <nav class="navbar-default navbar navbar-expand-lg">
                    <a id="nav-toggle" href="#!"><i class="fe fe-menu"></i></a>
                </nav>
            </div>

            <div class="container-fluid p-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
                            <h1 class="h2 font-weight-bold">Methods</h1>
                            <a href="/methodes_traitement/create/" class="btn btn-primary">Add New Method</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card rounded-lg">
                            <div class="table-responsive border-0 overflow-y-hidden">
                                <table class="table mb-0 text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for methode in methodes %}
                                        <tr>
                                            <td>{{ methode.nom }}</td>
                                            <td>{{ methode.description }}</td>
                                            <td>
                                                <a href="{% url 'methode_traitement_update' methode.id %}" class="btn btn-outline-info btn-sm">Update</a>
                                                <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ methode.id }}">Delete</a>
                                            </td>
                                        </tr>

                                        <!-- Delete Confirmation Modal -->
                                        <div class="modal fade" id="deleteModal{{ methode.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ methode.id }}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel{{ methode.id }}">Confirm Delete</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete "{{ methode.nom }}"?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="POST" action="{% url 'methode_traitement_delete' methode.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Confirm Delete</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <tr>
                                            <td colspan="3" class="text-center">No methods available.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>
